header{
    height: 35px;
    width: 100%;
    margin: 0px;
    background-color: rgb(19, 18, 18);
    font-family:"Microsoft YaHei" ! important;
}

main{
     /* font-family:"Microsoft YaHei" ! important; */
} 
.leftward-1{
    color: white;
    border-right: 1px solid rgb(61, 60, 60);
    margin-left: 10px;
    margin-right: 5px;
    padding: 5px 4px 3px 1px;
    float: left;
    
}

.leftward-2{
    color: white;
    float: left;
    padding: 5px 4px 3px 1px;
    margin-right: 5px;
}

.leftward-3{
    color: white;
    float: left;
    padding: 5px 4px 3px 1px;
}

.rightward-1{
    color: white;
    float: right;    
    border-right: 1px solid rgb(61, 60, 60) ;
    padding: 5px 3px 3px 3px;
}


.rightward-2{
    color: white;
    float: right;    
    padding: 5px 3px 3px 3px;
}

main{
    padding: 0px 120px 0px 120px ;
}
main > div{
    width: 100px;
    height:200px;
    /* border: 1px dashed black; */
    float: left;
    padding: 10px;
    position: relative;
}

.center{
    width: 50%;
}

.left{
    margin-left: 80px;
    width:10%;
}

.right{
    width:30%;
    margin-right: -100%;
}

main::after{
    content: "";
    display: block;
    clear: both;
}

main > div > p {
    float: none;  
    margin-top: 3px;
    color: black;
    text-align: center;
    font-size: larger;
}

.tag_input{
    float: left;
    size: larger;
    height: 40px;
}

.button_search{
    margin-top: 5px;
    vertical-align: middle;
    width: 66px;
    height:44px;
    background: rgb(80, 171, 212);
    margin-left: 0px;
    color: cornsilk;
    text-align: center;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 0.3px solid;
    /* border-radius: 1px solid grey; */
    /* background-color: rgb(0, 140, 255); */
    /* box-sizing: content-box; */
}   

.input_search{
    margin-top: 5px;
    vertical-align: middle;
    height: 44px;
    width:  264px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
    border: 0.3px solid;
    background: #f8f8f8;
    /* border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid; */
}

.background_register{
    background: #e7e6e6;
    height: 230px;
    width: 330px;
}

.background_register_inner{
    height: 170px;
    width: 270px;
    padding: 19px 10px 5px 10px;
    text-align: center;
    border: 1px solid rgb(223, 222, 222);
    background: white;
    margin-top: -230px;
    margin-left: 20px;

}

main > d2 > d3 > d4 {
    float: left;
    position: relative;
} 

.reigster_font{
    color: rgb(87, 87, 87);
    font-size: 10px;
    float: left;
}

.reigster_button{
    background: rgb(241, 68, 68);
    color: white;
    border: 0px;
    margin-top: 17px;
    height: 40px;
    width:220px;
    border-radius: 5px;
    font-size: 17px;
}

.img_register_1{
    height:75px;
    width:52px;
    margin-right: 10px;
    margin-top: 10px;
}
.img_register_2{
    height:75px;
    width:52px;
    margin-top: 10px;
}

.background_more{
    border-top: 2px solid tomato;
    background: #e7e6e6;
    margin-top: 30px;
    height: 200px;
    width: 320px;
    padding-top: 10px;
    padding-left: 15px;
}

.more_options{
    background:#e7e6e6;
    border: 0px;
    margin-top: 12px;
    margin-left: 3px;
    font-size: 15px;
    color: rgb(87, 87, 87);
}

.more_text{
    font-size: 22px;
    margin-left: 5px;
    margin-bottom: 15px;
}

.background_links{
    padding-top: 10px;
    padding-left: 15px;
    border-top: 2px solid tomato;
    background: #e7e6e6;
    margin-top: 22px;
    height: 480px;
    width: 320px;
}

.more_links{
    border:0px;
    background:#e7e6e6;
    border: 0px;
    margin-top: 12px;
    margin-left: 3px;
    font-size: 15px;
    color: rgb(87, 87, 87);
}

.link_text{
    font-size:22px;
    margin-left: 5px;
    margin-bottom: 15px;
}

main > div > h1{
    margin-top: 0px;
    border-bottom: 1px solid #e7e6e6 ;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.news_headline{
    color: black;
    margin-bottom: 10px;
    margin-left: 2px;
    padding-bottom: 0px;
    font-size: 30px;
    
}



.news_button{
    background: white;
    color: rgb(64, 133, 150);
    border: 1px solid rgb(64, 133, 150);
    padding: 0px;
    margin-left: 2px;
    margin-right: 5px;
}

.news_icon_format{
    height: 35px;
    width: 35px;
    margin-right: 5px;
}

.notes_for_news{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 5px;
    font-weight: 450;
}

.news_photo{
    float: left;
    height: 130px;
    width: 265px;
    margin-right: 10px;
    margin-left: 5px;
}

.under_notes{
    font-size: 15px;
}

.header_icon{
    display: inline-block;
    height:30px;
    width: 30px;
    background-image: url(IMG/DownWardArrow.png);
    background-position: top 80% right 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}